/* MAIN page only */
.MAIN h1 {
  font-family: Helvetica;
}
.MAIN h3 {
  font-family: verdana;
}
.MAIN #link-bar {
  font-family: verdana;
}
.MAIN #link-bar ul {
  list-style-type: none; 
  display: flex;         
  flex-direction: row;
  padding: 0;   
  gap: 17px;        
}
.MAIN #link-bar li a {
  text-decoration: none; 
  color: #333;  
  transition: color 0.3s ease;  
}
.MAIN #link-bar li a:hover {
  color: rgb(0, 0, 255);
}
.MAIN #link-bar li a:visited {
  color: #666;
}
.MAIN button {
  margin-top: 20px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border-radius: 10px;
}
.MAIN #opening-options .off {
background-color: rgb(204, 204, 204);
color: #333 ;
}
.MAIN #opening-options .on {
background-color: #00ffa2;
color: #a200ff ;
}
.MAIN video {
  margin-top: 20px;
  max-width: 100%;
}
/* INFO page only */
.INFO h1 {
  color: red;
  font-family: Verdana, sans-serif;
}
.INFO button {
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 5px;
}
.INFO button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.INFO button:active {
  background-color: rgb(255, 0, 0);
  color: rgb(168, 0, 0);
}
